@media screen and (max-width:1000px){
    .upper{position: relative; top:250px}
    .lower{position: relative; top:450px}
}
@media screen and (min-width:1000px){
    .upper{position: relative; top:200px}
    .lower{position: relative; top:300px}
    }

.vlink {
    width: 100px;
    height: 50px;
    background-color:#fff;
    position: relative;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border-top:#ffe6bc 1px solid;
    border-bottom:#ffe6bc 1px solid;
    border-left:#ffe6bc 1px solid;
    border-right:#ffe6bc 1px solid;
}

.vlink p{
	color:#925c4b;
	position:relative;
	top: 5px;
}

.vlink a{
	width:100px;
	height:50px;
	text-decoration: none;
}

.vlink:hover p{
	color:#fff;
}

.vlink:hover{
	background-color:#925c4b;
}
